<footer>
    <div class="flex items-center w-screen py-5 border-t border-white/30">
        <pre
            class="m-auto text-xs font-mono leading-none lg:text-md sm:text-sm"
        >
<span class="text-yellow-200"> .--.</span>                                     <span class="text-[#FF5555]"> .-.</span>
<span class="text-yellow-200">/ _.-'</span> .-.  .-.  .-.  .-.  .-.  .-.  .-.  <span class="text-[#FF5555]">| OO|</span>
<span class="text-yellow-200">\  '-.</span> '-'  '-'  '-'  '-'  '-'  '-'  '-'  <span class="text-[#FF5555]">|   |</span>
<span class="text-yellow-200"> '--'</span>                                     <span class="text-[#FF5555]">'^^^'</span>
</pre>
    </div>
</footer>
