<nav class="flex h-20 w-full px-6 border-b border-white/30 font-mono">
    <div class="flex items-center gap-4 mr-auto">
        <p class="md:text-3xl text-xl sm:text-2xl">
            >Chris_Autull<span class="bg-white text-black">o</span>
        </p>
        <p id="pwd">[~/about]</p>
    </div>
    <div class="my-auto lg:hidden">
        <button id="nav-toggle">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 256 256"
            >
                <path
                    fill="currentColor"
                    d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128ZM40,72H216a8,8,0,0,0,0-16H40a8,8,0,0,0,0,16ZM216,184H40a8,8,0,0,0,0,16H216a8,8,0,0,0,0-16Z"
                ></path>
            </svg>
        </button>
    </div>
    <ul
        id="nav-links"
        class="absolute top-20 right-0 flex-col hidden items-center border border-white/30 bg-black lg:bg-transparent lg:border-none lg:flex lg:flex-row lg:relative lg:top-auto z-50"
    >
        <li
            class="flex items-center h-11 px-5 text-lg text-neutral-400 hover:text-white"
        >
            <a href="index.html">About</a>
        </li>
        <li
            class="flex items-center h-11 px-5 text-lg text-neutral-400 hover:text-white"
        >
            <a href="projects.html">Projects-[WIP]</a>
        </li>
        <li
            class="flex items-center h-11 px-5 text-lg text-neutral-400 hover:text-white"
        >
            <a href="blog.html">Dev Logs-[WIP]</a>
        </li>
        <li
            class="flex items-center h-11 px-5 text-lg text-neutral-400 hover:text-white"
        >
            <a href="contact.html">Contact</a>
        </li>
        <li
            class="flex items-center h-11 px-5 text-lg text-neutral-400 not-lg:hidden"
        >
            |
        </li>
        <li class="flex items-center h-11 px-5 text-lg text-neutral-400">
            <div class="flex gap-5">
                <a
                    href="https://github.com/rcachris"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:text-white"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 256 256"
                    >
                        <path
                            fill="currentColor"
                            d="M208.31,75.68A59.78,59.78,0,0,0,202.93,28,8,8,0,0,0,196,24a59.75,59.75,0,0,0-48,24H124A59.75,59.75,0,0,0,76,24a8,8,0,0,0-6.93,4,59.78,59.78,0,0,0-5.38,47.68A58.14,58.14,0,0,0,56,104v8a56.06,56.06,0,0,0,48.44,55.47A39.8,39.8,0,0,0,96,192v8H72a24,24,0,0,1-24-24A40,40,0,0,0,8,136a8,8,0,0,0,0,16,24,24,0,0,1,24,24,40,40,0,0,0,40,40H96v16a8,8,0,0,0,16,0V192a24,24,0,0,1,48,0v40a8,8,0,0,0,16,0V192a39.8,39.8,0,0,0-8.44-24.53A56.06,56.06,0,0,0,216,112v-8A58.14,58.14,0,0,0,208.31,75.68ZM200,112a40,40,0,0,1-40,40H112a40,40,0,0,1-40-40v-8a41.74,41.74,0,0,1,6.9-22.48A8,8,0,0,0,80,73.83a43.81,43.81,0,0,1,.79-33.58,43.88,43.88,0,0,1,32.32,20.06A8,8,0,0,0,119.82,64h32.35a8,8,0,0,0,6.74-3.69,43.87,43.87,0,0,1,32.32-20.06A43.81,43.81,0,0,1,192,73.83a8.09,8.09,0,0,0,1,7.65A41.72,41.72,0,0,1,200,104Z"
                        ></path>
                    </svg>
                </a>
                <a
                    href="https://linkedin.com/in/chrisautullo"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:text-white"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 256 256"
                    >
                        <path
                            fill="currentColor"
                            d="M216,24H40A16,16,0,0,0,24,40V216a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V40A16,16,0,0,0,216,24Zm0,192H40V40H216V216ZM96,112v64a8,8,0,0,1-16,0V112a8,8,0,0,1,16,0Zm88,28v36a8,8,0,0,1-16,0V140a20,20,0,0,0-40,0v36a8,8,0,0,1-16,0V112a8,8,0,0,1,15.79-1.78A36,36,0,0,1,184,140ZM100,84A12,12,0,1,1,88,72,12,12,0,0,1,100,84Z"
                        ></path>
                    </svg>
                </a>
            </div>
        </li>
    </ul>
</nav>
